*.lock
*-lock.*
*.swp
*.swo
*.save
*.tmp
*.out
*.orig
*.rej
*.bak
.cache
.npm
.deno
.coverage
.pnp.*
*workspace.*
*.log
.*.log
*.env*
node_modules
dist
build
**/node_modules/**
**/dist
**/build
Thumbs.db
.DS_Store
ehthumbs.db
Desktop.ini
$RECYCLE.BIN
*.cab
.Trashes
.Spotlight*
.AppleDouble
.LSOverride
